# Rust
/target
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
sdist/
wheels/
*.egg-info/
*.egg
.pytest_cache/
*.so
*.dylib
.python-version

# Documentation
site/*

# Development
.idea/*